PORT=7000
MONGO_URI=mongodb+srv://rasheshdarji2180_db_user:Q6OFXy9r8DosAQPH@cluster0.c9ikvwg.mongodb.net/?appName=Cluster0
JWT_SECRET=dshdsjhds4dsd575s4f2fdfdf
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
